/*mobile*/
body {
    font-family: 'noto';
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #F7D6BF;
    position: fixed;
    overflow: hidden;
}

*{
    font-family: "Lilita One";
}
.start, .popUp,.selection, .game, .final{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    position: relative;
}

.final{
    color: #906A55;
}

.text{
    font-size: 25px;
}

.game-title{
    margin-bottom: 30px;
}

.title{
    display: flex;
    width: 50%;
    margin: 30px auto;
    padding: 0;
}

.image{
    width: 100%;
}

.startButton, .playAgain, .submit,.next{
    width: 100%;
    position: relative;
    align-self: center;
    background-color: #AA784A;
    box-shadow: 0px 8px #734D2B;
    border: 0px;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    border-radius: 10px;
    padding: 5% 5%;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

.home{
    width: 100%;
    position: relative;
    align-self: center;
    background-color: #FFF8E0;
    box-shadow: 0px 8px #734D2B;
    border: 0px;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    border-radius: 10px;
    padding: 5% 5%;
    color: #734D2B;
    font-size: 25px;
    justify-content: center;
    align-items: center;
}

.playAgain{
    margin-bottom: 20px;
}

.startButton p, .startGame p, .submit p,.easy p, .normal p, .hard p,.next p, .home p {
    margin: 30px;
    margin-right: 60px;
}

.startButton{
    margin: 115px auto;
}

.words{
    font-size: 20px;
    width: 100%;
    margin: 0 !important;
    justify-content: center;
    align-items: center;
    display: flex;
    font-weight: 500;
}

.arrowHead{
    margin-right: 10px;
    max-width: 15px;
    height: auto;
}


.hide{
    display: none;
    visibility: hidden;
}

.easy, .normal, .hard{
    width: 100%;
    position: relative;
    align-self: center;
    background-color:white;
    box-shadow: 0px 8px #734D2B;
    border: 0px;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    border-radius: 10px;
    padding: 5% 5%;
    margin: 25px;
    color: #734D2B;
    font-size: 25px;
    justify-content: center;
    align-items: center;
}

.top{
    display: flex;
}

.left{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right{
    background-color: white;
    border-radius: 10px;
    width: 80%;
}

.in{
    width: 35%;
}

/*question*/
.QuestionNumber{
    color: white;
    font-weight: 500;
    text-align: center;
    padding: 1% 2%;
    background-color: #AA784A;
    width: 60px;
    margin: 15px auto;
    border-radius: 30px;
    -webkit-box-shadow: 0px 15px 0px 0px #734D2B; 
    box-shadow: 0px 5px 0px 0px #734D2B;
}

.product{
    margin: 0% auto;
    width: 100%;
}

.popUp .product{
    margin: 0% auto;
    width: 60%;
}

.rightAnswer1, .rightAnswer2, .rightAnswer3{
    background-color: white;
    padding: 15%;
    margin: 2.5% 2.5%;
    border: 5px solid black;
    border-radius: 15px;
}

.question, .instruction {
    justify-content: center;
    text-align: center;
    padding: 15px;
    font-size: 22px;
    font-weight: 500;
}

.equation{
    font-weight: 500;
    text-align: center;
    padding: 1.5%;
    width: calc(100% - 40px);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    border-radius: 30px;
}

.instruction{
    padding-top:0px;
}

.question{
    padding-bottom: 30px;
}
.question p, .instruction p{
    margin: 0;
}

.answer-q{
    width: 90%;
    margin-bottom: 10px;
    gap: 8px;
    display: grid;
    grid-template-columns: repeat(3, 32%);
    justify-items: center;
}

#btn1, #btn2, #btn3, #btn4, #btn5, #btn6,#btn7{
    max-width: 90%;
    cursor: pointer;
    box-sizing: border-box;
    padding: 2.5%;
    background-color: white;
    border-radius: 10px;
    border: transparent;
}
#btn1 img , #btn2 img, #btn3 img, #btn4 img, #btn5 img, #btn6 img,#btn7 img{
    max-width: 100%;
}

.empty{
    background-color: transparent;
    border: transparent;
}

img.btn{
    width: 100%;
}

.not,.complete{
    margin: 0% auto;
    font-size: 40px;
}
.not{
    color: #DF493A;
}
.complete{
    color: #4F8B56;
}

.final{
    height: 100vh;
    width: 100%;
    text-align: center;
}

.final .game-title{
    margin-bottom: 5px;
}

.final .end{
    display: flex;
    margin: 0 auto;
    max-width: 60%;
}

.final p{
    font-size: 30px;
    margin: 5px auto;
}

  /*mobile*/
@media screen and (max-width: 767px){
    .startButton, .playAgain,.easy, .normal, .hard, .submit,.next, .home {
    width: calc(100% - 70px);
    }
}

/*ipad*/
@media screen and (min-width: 768px) and (max-width: 1199px){
    body{
      width: 100%;
    }
    .start, .howToPlay, .game,.final{
        max-width: 820px;
        margin: 0 auto;
    }
    .title{
        width: 40%;
    }
    .startButton,.playAgain,.easy,.normal,.hard,.next,.submit{
        padding: 4%;
        max-width: 300px;
    }
    .easy,.normal,.hard{
        font-size: 30px;
    }
    .words{
        font-size: 30px;
    }
    .arrowHead{
        max-width: 25px;
    }
    .game p,.popUp p{
        font-size: 35px;
    }
    .coffee-content{
        font-size: 30px;
    }
    .QuestionNumber{
        font-size: 30px;
        padding: 1% 4%;
    }
    .answer-q{
        margin-bottom: 10px;
    }
    .question{
        padding-bottom: 5px;
    }
}

/*desktop*/
@media screen and (min-width:1200px){
    body{
      width: 100%;
    }
    .start, .selection,.game,.popUp,.final{
        max-width: 400px;
        margin: 0 auto;
    }
    .preview{
        max-width: 300px;
        margin: 40px auto;
    }
    .startButton, .startGame,.restart,.easy,.normal,.hard,.submit,.next{
        max-width: 250px;
        padding: 3%;
    }
    .startButton{
        margin: 50px auto;
    }
    .question, .instruction {
        font-size: 15px;
        padding-bottom: 0px;
        margin-bottom: 10px;
    }
    .QuestionNumber{
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .answer-q{
        width: 75%;
    }
    .popUp .product{
        width: 50%;
    }
    .text{
        margin: 15px;
    }
    .equation{
        margin-bottom: 10px;
    }
}